.feature {
  /* background: url(../../../assets/home/featured.jpg); */
  background: linear-gradient(rgba(135, 80, 156, 0.2), rgba(135, 80, 156, 0.3)),
    url(../../../assets/home/featured.jpg) no-repeat;
  background-size: cover;
  background-position: center 51%;
  background-attachment: fixed;

  overflow: hidden;
  position: relative;
}
